{#
/**
 * @file qa_shot_test.html.twig
 * Default theme implementation to present QAShot Test data.
 *
 * This template is used when viewing QAShot Test pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_qa_shot_test()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('qa_shot_test') }}>
  {% if content %}
    {{- status_in_queue -}}
    {{- content -}}
    {{- last_run_time -}}
    {{- last_reference_run_time -}}
    {{- last_test_run_time -}}

    <div>
      <br/>
      {{- report_path -}} <br/>
      {{- run_path -}} <br/>
      {{- run_path_reference -}} <br/>
      {{- run_path_test -}} <br/>
    </div>
    {% if debug %}
        {{ debug }}
    {% endif %}
    {% if metadata %}
        {{ metadata }}
    {% endif %}
  {% endif %}
</div>
