{#
/**
 * @file qa_shot_test.html.twig
 * Default theme implementation to present QAShot Test data.
 *
 * This template is used when viewing QAShot Test pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_qa_shot_test()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('qa_shot_test') }}>
  {% if content %}
    {{- content -}}

    <div>
      <br/>
      {{- report_path -}} <br/>
      {{- run_path -}} <br/>
    </div>
    {% if debug %}
        {{ debug }}
    {% endif %}
  {% endif %}
</div>
